/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --primary-white:white;
    --primary-pink: pink;
    --primary-blue:blue;
    --primary-dark: rgba(255,255, 255,0);
    --primary-red: #ef4035;
    --primary-hover-red: #ef4035;
}

nav{
z-index: 2;
}
/* navbar */
.logo{
 width: 10rem;
}

/* menu links */

nav a.nav-link{
letter-spacing: 0.0375rem;
cursor: pointer;
}

nav ul li{
text-transform: uppercase;
font-family:"Lobster";
}

.navbar-nav > li > a{
margin-right:0.75rem;
margin-left:0.75rem;
color:var(--primary-white)  !important;
border-top: 0.1875rem solid var(--primary-dark);
}
.navbar {
    min-height: 30px !important;
}

.navbar-brand{
    max-width: 10rem;
    padding: 0 !important;
    height: 6.5rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
    border-top: 0.2rem solid blue;
    color:blue;
}

.navbar-nav > li > a:hover{
    border-top: 0.1875rem solid var(--primary-blue);
}

/* Header */
.header-wraper{
    position: relative;
    background: url(codingbg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info{
    display:flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    font-family:"Lobster";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}

.main-info h1{
    display: flex;
    content: 'Examp';
    color: black;
    font-size: 32px;
    text-transform: uppercase;
    font-family:"Lobster";
}

/* Typed Text Affect */

.typed-text{
    font-size: 2rem;
    color: #49fb35;
    font-family:"Lobster";
}

/* Header */
.btn-main-offer{
    border:0.5px solid #49fb35;
    background-color: #49fb35;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.725rem 0.5rem 0.5rem 0.5rem;
    color: black;
    margin: 2rem;
    width:7rem;
}

.btn-main-offer:hover{
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    margin:2rem;
    transition: .2s ease-in-out;
}

/* Particles */
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width:100vw;
    z-index: 1;
}

@media(max-width:768px){

}